<ul>
	<li class="nav-home"><a href="../">home</a></li>
	<li class="nav-about"><a href="../about">about</a></li>
	<li class="nav-styleguide"><a href="../styleguide">style guide</a></li>
	<li class="nav-contact"><a href="../contact">contact</a></li>
</ul>